{% extends "blogs/leetcode.html" %}

{% load crispy_forms_tags %}

{% block modal %}
<div class="modal" style="display: block;">
  <div class="modal-dialog modal-dialog-scrollable" style="min-width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What would you like to post?</h5>
        <a href="{{path}}"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="post_form">
        	<div class="mb-3">
				{% csrf_token %}

				{{ form | crispy}}

				<div class="input-group mb-3" style="margin-left: 15px;">
          <input class="btn btn-outline-primary mb-3" type="submit">
        </div>
			</div>
		</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}