{% extends "blogs/index.html" %}

{% block content %}

<div class="card mb-3">
	
	    
	   
			<div class="card" style="margin: 15px;">
			  	<div class="card-header" style="background-color: white">
			    	Leetcode Problem #{{object.problem_num}}
			  	</div>
			  	<div class="card-body">

			    	<h3 class="card-title" style="font-weight: bold;">{{object.title}}</h3>
			   
			    	<p class="card-text" style="font-size: 15px;">{{object.description}}</p>
			    	<p class="card-text" style="font-size: 15px;"><textarea class="code-content">{{object.content}}</textarea></p>
			    	
			    	
			  	</div>
			  	<div class="card-footer text-muted" style="background-color: white;display: flex;">
					posted by:<div><a href="{% url 'blogs:profile' object.user.username%}"><img src="{{ object.user.profile.image.url}}" style="width: 15px;height: 20px;"></a>
					{{object.user.username}}</div> &nbsp created at: {{object.pub_date}}
				</div>
				<div class="card-footer">
				{% if object.user.username == request.user.username %}
					<a href="{{object.url}}" class="btn btn-outline-primary">Check out this problem</a>
					<a href="{% url 'blogs:post-update' object.id %}" class="btn btn-outline-secondary">Update</a>
					<a href="{% url 'blogs:post-delete' object.id %}" class="btn btn-outline-danger">Delete</a>
				{% endif %}
				</div>
			</div>
	
  	
</div>

{% endblock %}