{% extends "blogs/index.html" %}

{% load crispy_forms_tags %}


{% block content %}
<div style="padding: 2rem;">
<form method="POST" action="{% url 'blogs:login' %}">
		{% csrf_token %}
		<div class="form-control">
			{{form|crispy}}
			<div class="input-group mb-3" style="margin-left: 15px;">
				<input class="btn btn-outline-primary mb-3" type="submit">
				<a href="{% url 'blogs:register' %}" style="margin-left: 15px;"><small>Don't have an account yet?</small></a>
			</div>
		</div>
			
</form>
</div> 
{% endblock %}
