#post_btn {

	position: absolute !important;

	right: 10px;
}

.cardContainer {

  padding: 20px;
  
}

.main-section {

	width: 70%;
	
}

.sidebar {

	width: 30%;

}

.form-group {

	margin: 15px; 

}